.titulo{

    text-align: center;

}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

body{

    background-color: rgb(107, 144, 177);
    
}

footer{

    text-align: center;

}

.btn {

    width: 100px;
    margin: 15px;
    box-shadow: 10px 5px 15px rgb(53, 53, 247);
}

